{% extends 'base.html.twig' %}

{% block title %}Лекарства - Каталог лекарственных средств{% endblock %}

{% block body %}
    <h1>Редактирование препарата</h1>
    <form method="post" action="{{ path('drug_update', {id: id}) }}">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" name="name" id="name" value="{{ data.drug.name }}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="price">Цена</label>
            <input type="number" name="price" id="price" value="{{ data.drug.price }}" step=".01" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="substance">Действующее вещество</label>
            <select name="substance" id="substance" class="form-control">
                {% for substance in data.substances %}
                    <option value="{{ attribute(substance, '@id') }}"
                            {% if attribute(substance, '@id') == attribute(data.drug.substance, '@id') %} selected{% endif %}>
                        {{ substance.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="manufacturer">Производитель</label>
            <select name="manufacturer" id="manufacturer" class="form-control">
                {% for manufacturer in data.manufacturers %}
                    <option value="{{ attribute(manufacturer, '@id') }}"
                            {% if attribute(manufacturer, '@id') == attribute(data.drug.manufacturer, '@id') %} selected{% endif %}>
                        {{ manufacturer.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{{ path('drug_list') }}" class="btn btn-dark">Отмена</a>
    </form>
{% endblock %}